<h3> Information about the assignment you selected: </h3>
<!-- <div *ngFor="let task of tasks">

<div *ngFor="let s of show"> -->
<!-- <div *ngFor= "show"> -->

  <div *ngIf="showGrade">
    <p>Assignment: {{showGrade.assignment}}</p>
    <p>Class: {{showGrade.class}}</p>
    <p>Date completed: {{showGrade.datecompleted}}</p>

    <!-- <p> {{showGrade.url}} </p> -->
    
    <!-- <h4> Created at: {{ showGrade.created_at}} </h4>
    <h4> Updated at: {{ showGrade.updated_at}} </h4> -->

</div>

<button type='button' [routerLink]="['/grades']">Go Back </button>
