<!-- <a [routerLink]="['/create']"></a> -->

<p class='text-info'>
</p>


  <!-- <h2> GradeBook </h2> <br> -->
  <!-- <h3> Welcome to the Project Product Management! </h3>
  <h4> We can manage a set of products here. </h4>
  <h4> You are able to create products, remove old products, and edit products. </h4>  -->

  <!-- <div *ngFor="let task of tasks"><br>
    <li>Title: {{task.title}}</li>
    <li>Description: {{task.description}}</li> <br>
    <button [routerLink]="['/edit', task._id]"> Edit</button> -->
    <!-- <button (click)="showData(task)">Show Details</button> -->
    <!-- <button [routerLink]="['/show', task._id]">Show Details</button> -->

    <!-- <button (click)="removeTask(task._id)">Delete</button> -->
    <!-- <button (click)='onDelete(task)'>Delete</button> -->
