<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<button [routerLink]="['/']">Home</button>
<button [routerLink]="['/grades']"> Grade List</button>
<button [routerLink]="['/create']">Add Assignment</button>
<!-- <button [routerLink]="['/edit']"> Edit </button> <br> -->
<!-- <<button [routerLink]="['/edit/_id']"> Edit </button> <br> -->
<br>
<h2> GRADEBOOK 2K18  </h2>
<!-- 
<div class='container-fluid'>
    <h2>Favorite authors</h2>
    <router-outlet></router-outlet>
</div> -->

<router-outlet></router-outlet>
