<h3> Current GradeBook Entries: </h3>
<div *ngFor="let grade of grades"><br>
  <ul>
    <li>Assignment: {{grade.assignment}}</li>
    <li>Class: $ {{grade.class}}</li> <br>
    <!-- <li *ngIf="product.url"> Image: <img [src]="product.url"> </li> <br> -->
  </ul>
  <!-- <p *ngIf='error.url'> {{error.url.message}} </p> -->

  <button [routerLink]="['/edit', grade._id]"> Edit</button>
  <!-- <button (click)="showData(task)">Show Details</button> -->
  <button [routerLink]="['/show', grade._id]">Show Details</button>

  <!-- <button (click)="removeTask(task._id)">Delete</button> -->


  <button (click)='onDelete(grade)'>Delete</button>
  <!-- use this one -->

  <br>
</div>